.Notifications {
	border: 1px rgb(221, 72, 72) dashed;
	padding: 5px;
}

[data-pritory="default"] {
	color: rgb(1, 1, 170);
}

[data-priority="urgent"] {
	color: rgb(255, 60, 0);
}

#notificationDiv {
	display: flex;
	flex-direction: column;
	float: right;
	margin-right: 1rem;
}

.menuItem {
	text-align: right;
	padding-bottom: 0.5rem;
	font-weight: bold;
}

button[aria-label="Close"] {
	float: right;
	margin-top: 0.85rem;
}
